
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Fredoka+One&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Modak&display=swap');


.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
*{
    background-color: black;
}