
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Fredoka+One&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Modak&display=swap');
*{
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Modak&display=swap');


ap{
	background: transparent;
  font-size: 1cm;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Comfortaa', cursive;
  color: aliceblue;
  
}